
		*{
			margin: 0;
			padding: 0;
		}
		body{
			font-size: 14px;
			font-family: "sans-serif","微软雅黑";
			text-align: center;
		}
		ul{
			list-style: none;
		}
		a{
			text-decoration: none;
			color: inherit;
		}
		header,nav,main{
			width: 100%;
		}
		header img{
			width: 76.47%;
			margin: 0 auto;
		}
		.mydiv {
		 float:left;
		 
		 margin: 0 30px;
		 background: -webkit-linear-gradient(top,#fff,rgba(0,0,0,0.2));
		 box-shadow: 0 10px 10px rgba(0,0,0,0.3);
		 box-sizing: border-box;
		 padding-left:0px;
		 width:100px;
		}
		.mydiv ul{
			display:table;
		}
		.mydiv ul li{
			display:block;
			position:relative;
		}
		.mydiv ul li a{
			display: inline-block;
			padding: 10px 15px;
			line-height: 30px;
			font-size: 16px;
			font-weight: 500;
		}
		.mydiv:before,.mydiv:after{
			display:table;
			content:"";
		}
		.mydiv .exit{
			float: right;
			padding-right: 30px;
			line-height: 50px;
			color: #999;
		}
		.mydiv ul li:hover{
			background: rgba(0,0,0,0.5);
			-webkit-transition:background .5s linear 0s;
			color: #fff;
			border-radius: 5px;
		}
		.mydiv ul li .second-ul{
			display: none;

		}
		.mydiv ul li:hover .second-ul{
			display: inline;
			z-index: 1;
		}
		.mydiv ul li .second-ul>li{
			display: inline;
			border-bottom:1px solid #fff;
			clear: both;
		}
		.mydiv ul li .second-ul>li>a{
			display: inline-block;
			padding: 5px 15px;
		}
		.mydiv ul li .second-ul>li>a:hover{
			color: #fff;
		}
		.mydiv .exit>a:nth-child(1):hover,
		.mydiv .exit>a:nth-child(2):hover{
			color:#000;
			border-bottom:1px solid #000;
			-webkit-transition:color .5s linear 0s;
		}
		
		main .container{
			width:76.47%;
			margin: 0 auto;
			height: 500px;
			/*border: 1px solid #000;*/
			position: relative;
		}
	 	 .container .logo{
	 	 	width: 200px;
	 	 	height: 200px;
	 	 	background: url(../images/xiaohui.jpg) no-repeat center center; 
	 	 	opacity: 0.2;
	 	 	position: absolute;
	 	 	top: 100px;
	 	 	left: 400px;
	 	 }
	   .container div.content{
			margin: 0 auto;
			position: absolute;
			top: 80px;
			left: 50px;
			width: 100%;
			height: 300px;
			background: url(../images/library.jpg) no-repeat left;
		}
		div.content .say{
			display: inline-block;
			margin-top: 100px;
			font-weight: bold;
			font-size: 16px;
		}
		div.content .say>a{
			color: blue;
			font-size: 17px;
		}
		footer{
		 	font-size: 15px;
			font-family: "sans-serif","微软雅黑";
			font-weight: bold;
			text-align: center;
		 }